beautifulsoup4==4.7.1
BiblioPixel==3.4.44
BiblioPixelAnimations==3.20181225.205034
BiblioPixelTriggers==1.0.2
certifi==2019.3.9
chardet==3.0.4
Click==7.0
croniter==0.3.29
Flask==1.0.2
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
loady==1.8.10
MarkupSafe==1.1.1
numpy==1.16.2
pyserial==3.4
python-dateutil==2.8.0
PyYAML==5.1
requests==2.21.0
six==1.12.0
smmap2==2.0.5
soupsieve==1.9
urllib3==1.24.1
Werkzeug==0.15.1
